<ion-content padding>
  <div id="belakang">
    <div class="atas">
    </div>
    <div class="bawah">
        <ion-button size="large" shape="round" expand="full" (click)="tutup()">
            Lewati Iklan
       </ion-button>
    </div>
  </div>
</ion-content>
