#belakang{
    text-align: center;
    height: 100%;
    background: url('../../assets/img/splash.png') no-repeat center center fixed;
    background-size: 100% auto;
    z-index: -1;
}

.atas{
    width: 100%;
    height: 100%;
}

.bawah{
    position: absolute;
    bottom: 1em;
    width: 100%;
}

ion-content{
    --padding-bottom: 0;
    --padding-end: 0;
    --padding-start: 0;
    --padding-top: 0;
    --background: rgba(53, 118, 67, 0.3)
}
ion-button{
    --background: #357643;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}