<ion-header>
  <ion-toolbar>      
    <ion-buttons *ngIf="chat.id=='ask'" slot="start">
        <ion-button (click)=kembali()>
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
        <ion-title *ngIf="chat.id=='ask'">Kotak Saran</ion-title>
    </ion-buttons>  
    <ion-buttons *ngIf="chat.id!='ask'" slot="start">
      <ion-button (click)=kembali()>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-button *ngIf="chat.photo_pria=='undefined'" (click)=profil(chat.pria)>
        <ion-icon slot="start" name="man"></ion-icon>
        No. {{chat.pria}}
      </ion-button>
      <ion-button *ngIf="chat.photo_pria!='undefined'" (click)=profil(chat.pria)>
        <img src={{chat.photo_pria}} width="30" height="30">
        &nbsp; No. {{chat.pria}}
      </ion-button>
      <ion-button *ngIf="chat.photo_wanita=='undefined'" (click)=profil(chat.wanita)>
        <ion-icon slot="start" name="woman"></ion-icon>
        No. {{chat.wanita}}
      </ion-button>
      <ion-button *ngIf="chat.photo_wanita!='undefined'" (click)=profil(chat.wanita)>
        <img src={{chat.photo_wanita}} width="30" height="30">
        &nbsp; No. {{chat.wanita}}
      </ion-button>
    </ion-buttons>
    <ion-buttons *ngIf="chat.status=='aktif'" slot="end">
      <ion-button (click)=selesai()>
        Selesai
        <ion-icon slot="end" name="trash"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="bg-style">
  <ion-list>
    <ion-item *ngFor="let chat of ChatService.current_chat.pesan" lines="none">
      <div class="chat-message" text-right *ngIf="chat.user === user['no_peserta']">
        <div class="right-bubble">
          <span class="msg-name">Me</span>
          <span class="msg-date">{{chat.waktu | date:'medium'}}</span>
          <p text-wrap>{{chat.isi}}</p>
        </div>
      </div>
      <div class="chat-message" text-left *ngIf="chat.user !== user['no_peserta']">
        <div class="left-bubble">
          <span class="msg-name">{{chat.user}}</span>
          <span class="msg-date">{{chat.waktu | date:'medium'}}</span>
          <p text-wrap>{{chat.isi}}</p>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
   <ion-toolbar>
     <ion-input [(ngModel)]="teks" type="text-area" #sendInput placeholder="ketik pesan di sini..."></ion-input>
    <ion-buttons slot="end">
      <ion-button (click)=sendMessage()>
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>

