img {
    width: 30%;
  }

.belakang{
  text-align: center;
  height: 100%;
  background: url('../../assets/img/bingkai.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#atas{
  flex: 0.9;
}

#judul{
  font-size: 2.2em;
  flex: 0.4;
}

#subjudul{
  font-size: 1.3em;
  color: #357643;
  flex: 0.2;
}

#bawah{
  flex: 2;
}

ion-content{
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}