
  
<ion-content fullscreen="true" padding>
  <div class="belakang">
      <div id="atas">
      </div>
      <img src="../../assets/img/logo.png">
      <div id="judul">
        <b>HalalAja</b>
      </div>
      <div id="subjudul">
        Media Taaruf
      </div>
      <div id="bawah">
        <app-google-login></app-google-login>
      </div>
  </div>
</ion-content>
