<ion-content padding>
    <div class="belakang">
      <div id="atas">
      </div>
      <div id="judul">
        <b>Kriteria Calon</b>
      </div>
      <ion-list id="isian">
        <ion-grid>
          <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked">Warna Kulit</ion-label>
                    <ion-select [(ngModel)]="user.kulit">
                      <ion-select-option value="undefined">Semua</ion-select-option>
                      <ion-select-option value="putih">Putih</ion-select-option>
                      <ion-select-option value="kuning">Kuning Langsat</ion-select-option>
                      <ion-select-option value="sawo">Sawo Matang</ion-select-option>  
                      <ion-select-option value="hitam">Hitam</ion-select-option>        
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Suku</ion-label>
                    <ion-input placeholder="Nama Suku" type="text" [(ngModel)]="user.suku"></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Domisili</ion-label>
                    <ion-input placeholder="Kota/ Provinsi" type="text" [(ngModel)]="user.domisili"></ion-input>
                  </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked">Status</ion-label>
                    <ion-select [(ngModel)]="user.status_kawin">
                      <ion-select-option value="undefined">Semua</ion-select-option>
                      <ion-select-option value="lajang">Lajang</ion-select-option>
                      <ion-select-option value="menikah">Menikah</ion-select-option>  
                      <ion-select-option value="duda">Duda/Janda</ion-select-option>        
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Pendidikan Terakhir</ion-label>
                    <ion-select [(ngModel)]="user.pendidikan">
                      <ion-select-option value="undefined">Semua</ion-select-option>
                      <ion-select-option value="sd">SD</ion-select-option>
                      <ion-select-option value="smp">SMP</ion-select-option>
                      <ion-select-option value="sma">SMA</ion-select-option>
                      <ion-select-option value="s1">S1</ion-select-option>  
                      <ion-select-option value="s2">S2</ion-select-option>        
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label position="stacked">Pekerjaan</ion-label>
                    <ion-select [(ngModel)]="user.pekerjaan">
                      <ion-select-option value="undefined">Semua</ion-select-option>
                      <ion-select-option value="wiraswasta">Wiraswasta</ion-select-option>
                      <ion-select-option value="swasta">Swasta</ion-select-option>  
                      <ion-select-option value="bumn">BUMN</ion-select-option>
                      <ion-select-option value="pns">PNS</ion-select-option>    
                      <ion-select-option value="pns">Pelajar/ Mahasiswa</ion-select-option>    
                      <ion-select-option value="tidak">Tidak Bekerja</ion-select-option>       
                    </ion-select>
                  </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>        
        
      </ion-list>
      <div id="tombol">
          <ion-button fill="outline" (click)="cek_profil()">
            Cari
          </ion-button>
      </div>
    </div>
  </ion-content>
  