.belakang{
  text-align: center;
  height: 100%;
  background: url('../../assets/img/bingkai.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: rgba(255,255,255,0.8);
  background-blend-mode: lighten;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#atas{
  flex: 0.6;
}

#teks{
  font-size: 0.7em;
  color: #357643;
  flex: 0.5;
  width: 70%;
}

#tombol{
  flex: 0.5;
  padding-left: 0.7em;
  padding-right: 0.7em;
}

ion-button{
  --border-color: #707070;
  --color: #357643;
  --border-radius: 10px;
  font-size: 1em;
  width: 10em;
}

ion-content{
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}