<ion-content>
  <div *ngIf="!ChatService.inactivePage1" class="belakang">
    <div id="atas">
    </div>
    <div id="teks" *ngIf="!ChatService.chat_flag">
      يَا أَيُّهَا الَّذِينَ آمَنُوا اتَّقُوا اللَّهَ وَكُونُوا مَعَ الصَّادِقِينَ
      <br>
      “Hai orang-orang yang beriman, <br>
      bertakwalah kalian kepada Allah, <br>
      dan hendaklah kalian bersama <br>
      orang-orang yang jujur (benar)!” <br>
      (QS At-Taubah: 119)
    </div>
    <div id="tombol" *ngIf="!ChatService.chat_flag">
      <ion-button fill="outline" (click)="edit_profile()">
        Isi data diri
      </ion-button>
    </div>
    <div id="teks" *ngIf="ChatService.chat_flag">
      الْعَيْنُ تَزْنِي، وَالْقَلْبُ يَزْنِي، فَزِنَا الْعَيْنِ النَّظَرُ، وَزِنَا الْقَلْبِ التَّمَنِّي، 
      <br>
      وَالْفَرْجُ يُصَدِّقُ مَا هُنَالِكَ أَوْ يُكَذِّبُهُ
      <br>
      “Mata itu berzina, hati juga berzina. <br>
      Zina mata adalah dengan melihat (yang diharamkan), <br>
      zina hati adalah dengan membayangkan <br> (pemicu syahwat yang terlarang). <br>
      Sementara kemaluan membenarkan <br> atau mendustakan semua itu.”
      <br>
      (HR. Ahmad no. 8356.<br> Dinilai shahih oleh Syaikh Syu’aib Al-Arnauth.)
    </div>
    <div id="tombol" *ngIf="ChatService.chat_flag">
      <ion-button fill="outline" (click)="chat()">
        Ta'aruf
      </ion-button>
    </div>
    <div id="tombol" *ngIf="ProfileService.current_profile.hasOwnProperty('admin')">
      <ion-button fill="outline" (click)="admin()">
        Admin
      </ion-button>
    </div>    

    <ion-fab *ngIf="!ChatService.chat_flag" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="taaruf()">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab *ngIf="ChatService.chat_flag" vertical="top" horizontal="end" slot="fixed">
      <ion-fab-button (click)="chat()">
        <ion-icon name="chatboxes"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
      <ion-fab-button color="yellow" (click)="ask()">
        <ion-icon name="help"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </div>  
</ion-content>
