.belakang{
    text-align: center;
    height: 100%;
    background: url('../../assets/img/bingkai.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#judul{
  font-size: 1.5em;
  color: #357643;
  flex: 0.1;
}

#subjudul{
  font-size: 0.9em;
  color: #357643;
  flex: 0.1;
}

#last_login{
  font-size: 0.7em;
  color: #357643;
  flex: 0.15;
}

#atas{
  flex: 0.4;
}

#bio{
  flex: 0.2;
}

#cv{
  flex: 0.2;
}

#personal{
  flex: 0.4;
}

#bawah{
  flex: 0.6;
}

ion-button{
  --border-color: #707070;
  --color: #357643;
  --border-radius: 10px;
  font-size: 1em;
  width: 10em;
}

ion-content{
  --padding-bottom: 0;
  --padding-end: 0;
  --padding-start: 0;
  --padding-top: 0;
}