<ion-content padding>
    <div class="belakang">
      <div id="atas">
      </div>
      <div id="subjudul">
          Peserta No. <b>{{user.no_peserta}}</b>
      </div>
      <div id="judul">
        <ion-button *ngIf="!user.photo_google" fill="clear">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
        <ion-button (click)="photo_google()" *ngIf="user.photo_google" fill="clear">
          <img src={{user.photo_google}} width="40" height="40">
        </ion-button>        
      </div>
      <div id="last_login" *ngIf="user.last_login">
        Login Terakhir: <b>{{user.last_login | date:'medium'}}</b>
      </div>
      <div id="last_login" *ngIf="!user.last_login">
      </div>
      <div id="bio">
          <ion-button fill="outline" (click)="edit_bio()">
            Biodata
          </ion-button>
      </div>
      <div id="cv">
          <ion-button fill="outline" (click)="edit_cv()">
            CV
          </ion-button>
      </div>
      <div id="personal">
          <ion-button fill="outline" (click)="edit_personal()">
            Kepribadian
          </ion-button>
      </div>      
      <div id="bawah">
          <app-google-login></app-google-login>
      </div>
    </div>
  </ion-content>
  