<ion-content padding>
  <div class="belakang">
    <div id="atas">
    </div>
    <div id="judul">
      <b>Jenis Kelamin</b>
    </div>
    <div id="male">
        <ion-button fill="outline" (click)="update('pria')">
          Ikhwan
        </ion-button>
    </div>
    <div id="female">
        <ion-button fill="outline" (click)="update('wanita')">
          Akhwat
        </ion-button>
    </div>
    <div id="subjudul">
      <ion-grid>
        <ion-row>
          <ion-col>

          </ion-col>
          <ion-col size="9">
              <ion-list>      
                <ion-item lines="none">
                  <ion-checkbox [(ngModel)]="syarat"></ion-checkbox>
                  <ion-label text-wrap style="margin-left: 1em;font-size: 1em;">Saya berjanji untuk menjalani proses ta'aruf sesuai syariat Islam.</ion-label>
                </ion-item>   
              </ion-list>            
          </ion-col>
          <ion-col>
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
