<ion-header>
  <ion-toolbar>                
    <ion-buttons slot="start">
      <ion-button (click)="kembali()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    Peserta No. {{users[current_user].no_peserta}} <span style="color: #BABABA" *ngIf="users[current_user].last_login">(Aktif: {{users[current_user].last_login | date:'mediumDate'}})</span> &nbsp;
    <ion-buttons slot="end" *ngIf="flag_taaruf==false">
      <ion-button (click)="presentAlertPrompt2(users[current_user].no_peserta)">
        Ta'aruf
        <ion-icon slot="end" name="chatboxes"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> 
  <ion-segment [(ngModel)]="mode" (ionChange)="segmentChanged($event)" value="bio">
    <ion-segment-button value="bio">
      <ion-label>Biodata</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cv">
      <ion-label>CV</ion-label>
    </ion-segment-button>
    <ion-segment-button value="personal">
      <ion-label>Kepribadian</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding="true">
  <ion-list *ngIf="mode=='bio'"> 
    <ion-item>
      <ion-label position="stacked">Warna Kulit</ion-label>
      <ion-select disabled [(ngModel)]="users[current_user].kulit">
        <ion-select-option value="putih">Putih</ion-select-option>
        <ion-select-option value="kuning">Kuning Langsat</ion-select-option>
        <ion-select-option value="sawo">Sawo Matang</ion-select-option>  
        <ion-select-option value="hitam">Hitam</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tanggal Lahir</ion-label>
      <ion-input type="text" disabled [(ngModel)]="users[current_user].dob"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Suku</ion-label>
      <ion-input type="text" disabled [(ngModel)]="users[current_user].suku"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Domisili</ion-label>
      <ion-input type="text" disabled [(ngModel)]="users[current_user].domisili"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Tinggi (cm)</ion-label>
            <ion-input type="number" disabled [(ngModel)]="users[current_user].tinggi"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Berat (kg)</ion-label>
            <ion-input type="number" disabled [(ngModel)]="users[current_user].berat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>  
  <ion-list *ngIf="mode=='cv'">
    <ion-item>
      <ion-label position="stacked">Status</ion-label> 
      <ion-select disabled [(ngModel)]="users[current_user].status_kawin">
        <ion-select-option value="lajang">Lajang</ion-select-option>
        <ion-select-option value="menikah">Menikah</ion-select-option>  
        <ion-select-option value="duda">Duda/Janda</ion-select-option>        
      </ion-select>
    </ion-item>    
    <ion-item>
      <ion-label position="stacked">Pendidikan Terakhir</ion-label>
      <ion-select disabled [(ngModel)]="users[current_user].pendidikan">
        <ion-select-option value="sd">SD</ion-select-option>
        <ion-select-option value="smp">SMP</ion-select-option>
        <ion-select-option value="sma">SMA</ion-select-option>
        <ion-select-option value="s1">S1</ion-select-option>  
        <ion-select-option value="s2">S2</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Riwayat Pendidikan</ion-label>
      <ion-textarea rows="3" disabled [(ngModel)]="users[current_user].riwayat_pendidikan"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pekerjaan Sekarang</ion-label>
      <ion-select disabled [(ngModel)]="users[current_user].pekerjaan">
        <ion-select-option value="wiraswasta">Wiraswasta</ion-select-option>
        <ion-select-option value="swasta">Swasta</ion-select-option>  
        <ion-select-option value="bumn">BUMN</ion-select-option>
        <ion-select-option value="pns">PNS</ion-select-option>    
        <ion-select-option value="tidak">Tidak Bekerja</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pengalaman Kerja</ion-label>
      <ion-textarea rows="3" disabled [(ngModel)]="users[current_user].riwayat_pekerjaan"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="mode=='personal'">
    <ion-item>
      <ion-label position="stacked">Hal yang disukai</ion-label>
      <ion-textarea disabled [(ngModel)]="users[current_user].suka"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hal yang tidak disukai</ion-label>
      <ion-textarea disabled [(ngModel)]="users[current_user].tidak_suka"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hafalan Al-Qur'an</ion-label>
      <ion-textarea disabled [(ngModel)]="users[current_user].hafalan"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tempat Kajian/ Ustadz</ion-label>
      <ion-textarea disabled [(ngModel)]="users[current_user].kajian"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Visi-misi berumah-tangga</ion-label>
      <ion-textarea rows="5" disabled [(ngModel)]="users[current_user].visi"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="max_user>1">
  <ion-button size="large" shape="round" expand="full" (click)="selanjutnya()">
       Selanjutnya ({{current_user+1}}/ {{max_user}})
  </ion-button>
</ion-footer>
