ion-toolbar{
    --background : #357643;
    --color: white;
    --border-width: 0px;
    border: 0px;
}

ion-segment-button{
    --background : #357643;
    --background-activated : #357643;
    --background-checked : #357643;
    --color: #BABABA;
    --color-activated: white;
    --color-checked: white;
    --border-color: #212121;
    font-size: 16px;
    border: 0px;
    --margin-top: 0px;
    --padding-top: 0px;
    --border-width: 0px;
}

ion-item{
    --color: #357643;
    --padding-top: 0px;
}

ion-button{
    --background: #357643;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}
