<ion-header>
  <ion-toolbar>        
    <ion-buttons slot="start">
      <ion-button (click)=kembali()>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)=update()>
        Simpan
        <ion-icon slot="end" name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding="true">
  <ion-list *ngIf="mode=='bio'">
    <ion-item>
      <ion-label position="stacked">Jenis Kelamin</ion-label>
      <ion-select [(ngModel)]="user.kelamin">
        <ion-select-option value="pria">Pria</ion-select-option>
        <ion-select-option value="wanita">Wanita</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item *ngIf="user.kelamin=='wanita'"> 
      <ion-label position="stacked">Wali/ Mahram</ion-label>
      <ion-input type="text" placeholder="***@gmail.com" [(ngModel)]="user.gmail_wali"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Warna Kulit</ion-label>
      <ion-select [(ngModel)]="user.kulit">
        <ion-select-option value="putih">Putih</ion-select-option>
        <ion-select-option value="kuning">Kuning Langsat</ion-select-option>
        <ion-select-option value="sawo">Sawo Matang</ion-select-option>  
        <ion-select-option value="hitam">Hitam</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item> 
      <ion-label position="stacked">Tanggal Lahir</ion-label>
      <ion-input type="date" [(ngModel)]="user.dob"></ion-input>
    </ion-item>
      <div class="parent">
        <ion-item>          
          <ion-label position="stacked">Suku</ion-label>
          <ion-input (ionChange)="filterSuku()" (ionFocus)="child=true" type="text" [(ngModel)]="user.suku"></ion-input>
        </ion-item>
        <div class="child" *ngIf="child==true">
          <ion-list>
            <ion-item (click)="pilihSuku(suku)" *ngFor="let suku of daftar_suku2" lines="full" class="pilihan">
              {{suku}}
            </ion-item>
          </ion-list>
        </div>
      </div>      
      <div class="parent2">
        <ion-item>          
          <ion-label position="stacked">Domisili</ion-label>
          <ion-input (ionChange)="filterDomisili()" (ionFocus)="child2=true" type="text" [(ngModel)]="user.domisili"></ion-input>
        </ion-item>
        <div class="child" *ngIf="child2==true">
          <ion-list>
            <ion-item (click)="pilihDomisili(domisili)" *ngFor="let domisili of daftar_domisili2" lines="full" class="pilihan">
              {{domisili}}
            </ion-item>
          </ion-list>
        </div>
      </div>
    <ion-grid class="belakang">
      <ion-row>
        <ion-col>
          <ion-item class="belakang">
            <ion-label position="stacked">Tinggi (cm)</ion-label>
            <ion-input type="number" [(ngModel)]="user.tinggi"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item class="belakang">
            <ion-label position="stacked">Berat (kg)</ion-label>
            <ion-input type="number" [(ngModel)]="user.berat"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>  
  <ion-list *ngIf="mode=='cv'">
    <ion-item>
      <ion-label position="stacked">Status</ion-label>
      <ion-select [(ngModel)]="user.status_kawin">
        <ion-select-option value="lajang">Lajang</ion-select-option>
        <ion-select-option value="menikah">Menikah</ion-select-option>  
        <ion-select-option value="duda">Duda/Janda</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pendidikan Terakhir</ion-label>
      <ion-select [(ngModel)]="user.pendidikan">
        <ion-select-option value="sd">SD</ion-select-option>
        <ion-select-option value="smp">SMP</ion-select-option>
        <ion-select-option value="sma">SMA</ion-select-option>
        <ion-select-option value="s1">S1</ion-select-option>  
        <ion-select-option value="s2">S2</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Riwayat Pendidikan</ion-label>
      <ion-textarea rows="3" [(ngModel)]="user.riwayat_pendidikan"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pekerjaan Sekarang</ion-label>
      <ion-select [(ngModel)]="user.pekerjaan">
        <ion-select-option value="wiraswasta">Wiraswasta</ion-select-option>
        <ion-select-option value="swasta">Swasta</ion-select-option>  
        <ion-select-option value="bumn">BUMN</ion-select-option>
        <ion-select-option value="pns">PNS</ion-select-option>   
        <ion-select-option value="pns">Pelajar/ Mahasiswa</ion-select-option>   
        <ion-select-option value="tidak">Tidak Bekerja</ion-select-option>       
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Pengalaman Kerja</ion-label>
      <ion-textarea rows="3" [(ngModel)]="user.riwayat_pekerjaan"></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="mode=='personal'">
    <ion-item>
      <ion-label position="stacked">Hal yang disukai</ion-label>
      <ion-input type="text" [(ngModel)]="user.suka"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hal yang tidak disukai</ion-label>
      <ion-input type="text" [(ngModel)]="user.tidak_suka"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Hafalan Al-Qur'an</ion-label>
      <ion-input type="text" [(ngModel)]="user.hafalan"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Tempat Kajian/ Ustadz</ion-label>
      <ion-input type="text" [(ngModel)]="user.kajian"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Visi-misi berumah-tangga</ion-label>
      <ion-textarea rows="6" [(ngModel)]="user.visi"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>
