
ion-toolbar{
    --background : #357643;
    --color: white;
}


ion-label{
    --color: #357643;
}


.parent{
    position: relative;
    z-index: 2;
}

.parent2{
    position: relative;
    z-index: 1;
}

.belakang{
    z-index: 0;
}

.child{
    position: absolute;
    top: 4em;
    z-index: 3;
    opacity: 0.85;
}

.pilihan{
    --background: white;
    --padding-bottom: -10px;
    --padding-top: -10px;
}

