<ion-header>
  <ion-toolbar>        
    <ion-buttons slot="start">
      <ion-button (click)=kembali()>
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="!ChatService.inactivePage2">
      <ion-card (click)="gochat(chat.id)" *ngFor="let chat of ChatService.all_chat">
          <ion-card-header *ngIf="chat.status!='selesai'">
            <ion-card-title>{{chat.pesan.length}} Chats ({{chat.status}})</ion-card-title>
            <ion-card-subtitle>Since {{chat.mulai | date:'medium'}}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="chat.last_chat">Last Chat {{chat.last_chat | date:'medium'}}</ion-card-subtitle>
          </ion-card-header>
      
          <ion-item *ngIf="chat.status!='selesai'">
            <ion-icon name="man" slot="start"></ion-icon>
            <ion-label>No. {{chat.pria}}</ion-label>
          </ion-item>
        
          <ion-item *ngIf="chat.status!='selesai'">
            <ion-icon name="woman" slot="start"></ion-icon>
            <ion-label>No. {{chat.wanita}}</ion-label>
          </ion-item> 
        </ion-card> 
  </div>
</ion-content>
