<ion-content padding="true">

  <ion-list>
    <ion-item>
      <ion-label color="secondary" position="stacked">Nama</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="stacked">Password</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary" position="stacked">Ulangi Password</ion-label>
      <ion-input type="password" [(ngModel)]="ulangi_password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="secondary">Jenis Kelamin</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option value="male">Pria</ion-select-option>
        <ion-select-option value="female">Wanita</ion-select-option>        
      </ion-select>
    </ion-item>
    <ion-item text-wrap>
      <ion-checkbox></ion-checkbox>
      <ion-label color="secondary" style="margin-left: 0.5em">Saya bersumpah akan menjalani seluruh proses taaruf sesuai Syariat Islam.</ion-label>
    </ion-item>  
  </ion-list>
  <ion-button expand="block" (click)="register()">
    Mau daftar..
  </ion-button>
  <ion-button color="danger" expand="block" (click)="login()">
    Sudah daftar!
  </ion-button>
</ion-content>
