<div *ngIf="(user | async) || {} as user">
    
    <ion-button fill="outline"
            *ngIf="!user.uid && ProfileService.flag" 
            (click)="googleLogin()">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Login with Google
    </ion-button>
    <ion-button fill="outline"
        *ngIf="user.uid" 
        (click)="presentAlertApproval()">
    <ion-icon slot="start" name="logo-google"></ion-icon>
    Logout
    </ion-button>   
    <ion-button *ngIf="3==2" (click)="presentAlertApproval()" fill="clear" style="width:auto;">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
    </ion-button>
</div>

